<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="./fk08-news-feed.html">

<dom-module id="fk08-news-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            
            paper-card {
                width: 100%;
                margin-top: 10px;
                padding: 5px;
            }
            
            section {
                border-bottom: 1px solid lightgray;
            }
        </style>

        <paper-tabs selected="{{selectedFeed}}">
            <template is="dom-repeat" items="{{feedUrls}}">
                <paper-tab>{{item.name}}</paper-tab>
            </template>
        </paper-tabs>

        <iron-pages selected="{{selectedFeed}}">
            <template is="dom-repeat" items="{{feedUrls}}">
                <fk08-news-feed url="{{item.url}}"></fk08-news-feed>
            </template>
        </iron-pages>
    </template>

    <script>
        Polymer({
            is: 'fk08-news-view',

            properties: {
                feedUrls: {
                    type: Array,
                    value: [
                        { 
                            name: 'Fachschaft',
                            // url: 'https://fachschaft08.de/index.php/feed/',
                            url: '../../src/fk08-news/example-fachschaft08-feed.json'
                        },
                        {
                            name: 'Fakultät',
                            url: '../../src/fk08-news/example-news-feed.json'
                        },
                        {
                            name: 'Schwarzes Brett',
                            // url: 'https://www.geo.hm.edu/2/aktuelles/rssfeeds/rss_schwarzesbrett.de.xml',
                            url: '../../src/fk08-news/example-news-feed.json'
                        }
                    ],
                    notify: true,
                },

                selectedFeed: {
                    type: Number,
                    value: 0,
                }
            },

            ready: function() {
                // this.feedUrls = ['bla', 'blub'];
            },
        });
    </script>
</dom-module>