<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./fk08-news-entrie.html">

<dom-module id="fk08-news-feed">
    <template>
        <style include="shared-styles">
            
        </style>
        <!--<google-feeds feed="{{url}}" results='{{result}}'></google-feeds>-->
        
        <iron-ajax
             auto
             url="{{url}}"
             handle-as="json"
             on-response="_handleFeedResponse"></iron-ajax>
        <paper-card heading="{{result.title}}">
            <template is="dom-repeat" items="{{result.items}}">
                <section>
                    <h4><a href="{{item.link}}">{{item.title}}</a></h4>
                    <fk08-news-entrie entrie="{{item.content}}"></fk08-news-entrie>
                </section>
            </template>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'fk08-news-feed',

            properties: {
                url: {
                    type: String,
                    notify: true,
                    observer: 'test',
                    value: '',
                }
            },

            test: function(event) {
                console.log('Test:', event);
            },

            ready: function() {
                console.log('The news feed is ready: ' + this.url);
            },

            _handleFeedResponse: function() {
                this.result = arguments[1].response;
            }
        });
    </script>
</dom-module>