<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements -->
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">

<!-- Custom Elements -->


<!-- Style -->
<link rel="import" href="./fk08-timetable-view-css.html">

<dom-module id="fk08-timetable-view">
    <template>
        <style include="fk08-timetable-view-css"></style>

        <table id="timetable">
            <thead>
                <tr>
                    <th></th>
                    <th class="title day">Mo</th>
                    <th class="title day">Di</th>
                    <th class="title day">Mi</th>
                    <th class="title day">Do</th>
                    <th class="title day">Fr</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="title time">
                        8:15 - 9:00
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        9:00 - 9:45
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        10:00 - 10:45
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        10:45 - 11:30
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        11:45 - 12:30
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        12:30 - 13:15
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        14:00 - 14:45
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        14:45 - 15:30
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        15:45 - 16:30
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        16:30 - 17:15
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        17:30 - 18:15
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="title time">
                        18:15 - 19:00
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <paper-dialog id="dialogAddLesson" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>Füge ein Fach hinzu</h2>
            <div>
                <paper-input id="inName" required="true" type="text" label="Name"></paper-input>
                <paper-input id="inAbbr" required="true" type="text" label="Abkürzung"></paper-input>
                <paper-dropdown-menu label="Tag">
                    <paper-listbox class="dropdown-content" selected="{{diagDay}}">
                        <paper-item>Montag</paper-item>
                        <paper-item>Dienstag</paper-item>
                        <paper-item>Mittwoch</paper-item>
                        <paper-item>Donnerstag</paper-item>
                        <paper-item>Freitag</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="Anfang">
                    <paper-listbox class="dropdown-content" selected="{{diagStart}}">
                        <paper-item>08:15</paper-item>
                        <paper-item>09:00</paper-item>
                        <paper-item>10:00</paper-item>
                        <paper-item>10:45</paper-item>
                        <paper-item>11:45</paper-item>
                        <paper-item>12:30</paper-item>
                        <paper-item>14:00</paper-item>
                        <paper-item>14:45</paper-item>
                        <paper-item>15:45</paper-item>
                        <paper-item>16:30</paper-item>
                        <paper-item>17:30</paper-item>
                        <paper-item>18:15</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="End">
                    <paper-listbox class="dropdown-content" selected="{{diagEnd}}">
                        <paper-item>08:15</paper-item>
                        <paper-item>09:00</paper-item>
                        <paper-item>09:45</paper-item>
                        <paper-item>10:45</paper-item>
                        <paper-item>11:30</paper-item>
                        <paper-item>12:30</paper-item>
                        <paper-item>13:15</paper-item>
                        <paper-item>14:45</paper-item>
                        <paper-item>15:30</paper-item>
                        <paper-item>16:30</paper-item>
                        <paper-item>17:15</paper-item>
                        <paper-item>18:15</paper-item>
                        <paper-item>19:00</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-input id="inColor" required="true" type="color" value="lightblue" label="Farbe"></paper-input>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm on-tap="_addLesson">Accept</paper-button>
            </div>
        </paper-dialog>

        <paper-fab id="add" icon="add" elevation="5" on-tap="_toggleDialog"></paper-fab>
    </template>

    <script src="./fk08-timetable-view.js"></script>
</dom-module>