<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!-- Style -->

<dom-module id="fk08-timetable-view-css">
    <template>
        <style>
            :host {
                height: 100vh;
                overflow: hidden;
            }

            table {
                width: 100%;
                max-height: 100%;
            }

            table, th, td {
                border: 1px solid lightgray;
                border-collapse: collapse;
            }

            td {
                min-width: calc((100% - 4ch) / 5);
                max-width: calc((100% - 4ch) / 5);
                width: calc((100% - 4ch) * 0.2);
            }

            .title.time {
                width: 4ch;
                color: gray;
                line-height: 1;
            }

            .title.day {
                color: gray;
                min-width: calc((100% - 5ch) / 5);
            }

            td {
                position: relative;
            }

            .lesson {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                max-width: 100%;
                min-height: 100%;
                text-align: center;
                vertical-align: middle;
                line-height: 100%;
                opacity: 0.8;
            }

            .lesson:hover {
                cursor: pointer;
                opacity: 0.9;
            }

            #add {
                position: fixed;
                bottom: 10px;
                right: 10px;
                --paper-fab-background: var(--app-primary-color);
                --paper-fab-keyboard-focus-background: var(--app-primary-color);
            }
        </style>
</dom-module>