<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="my-icons.html">

<dom-module id="fk08-app">
  <template>
    <style>
      :host {
        --app-primary-color: #009688;
        --app-secondary-color: black;

        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;

        padding: 0 16px;

        text-decoration: none;

        color: var(--app-secondary-color);

        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;

        font-weight: bold;
      }
    </style>

<app-location route="{{route}}"></app-location>
<app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

<app-drawer-layout fullbleed>
  <!-- Drawer content -->
  <app-drawer>
    <app-toolbar>Menü</app-toolbar>
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
      <a drawer-toggle name="overview" href="/overview">Home</a>
      <a drawer-toggle name="fk08-mensa" href="/fk08-mensa">Mensa</a>
      <a drawer-toggle name="fk08-events" href="/fk08-events">Events</a>
      <a drawer-toggle name="fk08-news" href="/fk08-news">Nachrichten</a>
    </iron-selector>
  </app-drawer>

  <!-- Main content -->
  <app-header-layout has-scrolling-region>

    <app-header condenses reveals effects="waterfall">
      <app-toolbar>
        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        <div main-title>Fakultät 08</div>
      </app-toolbar>
    </app-header>

    <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
      <overview-view name="overview"></overview-view>
      <fk08-mensa-view name="fk08-mensa"></fk08-mensa-view>
      <fk08-news-view name="fk08-news"></fk08-news-view>
      <fk08-events-view name="fk08-events"></fk08-events-view>
      <fk08-timetable-view name="fk08-timetable"></fk08-timetable-view>
      <view404-view name="view404"></view404-view>
    </iron-pages>
  </app-header-layout>
</app-drawer-layout>
</template>

<script>
    Polymer({
      is: 'fk08-app',

      properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        }
      },

      observers: [
        '_routePageChanged(routeData.page)'
      ],

      _routePageChanged: function (page) {
        this.page = page || 'overview';
      },

      _pageChanged: function (page) {
        // Load page import on demand. Show 404 page if fails
        if (page.indexOf('fk08-') == 0) {
          console.log('Page:', page);
          if (page == 'fk08-timetable') {
            page = page + '/' + page + '-view/' + page;
          } else {
            page = page + '/' + page;
          }
        }

        var resolvedPageUrl = this.resolveUrl(page + '-view.html');
        this.importHref(resolvedPageUrl, null, this._showPage404, true);
      },

      _showPage404: function () {
        this.page = 'view404';
      }
    });
  </script>
</dom-module>