<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Polymer Elements -->
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">

<!-- Custom Elements -->
<link rel="import" href="./fk08-events-data.html">

<!-- Style -->
<link rel="import" href="../shared-styles.html">

<dom-module id="fk08-events-element">
    <template>
        <style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
			
			paper-card {
				width: 100%;
				--paper-card-header-color: white;
				--paper-card-header: {
					background-color: #e67e22;
				}
				;
			}

            div[secondary] {
                text-align: right;
                color: gray;
            }
        </style>

<fk08-events-data events="{{events}}"></fk08-events-data>

<paper-card heading="Events" elevation="1" animated-shadow="false">
    <div class="card-content">
        <template is="dom-repeat" items="{{events}}" as="event">
            <paper-item>
                <paper-item-body two-line>
                    <h4>{{event.name}}</h4>
                    <div secondary>{{event.start}}</div>
                </paper-item-body>
            </paper-item>
        </template>
    </div>
</paper-card>

</template>

<script>
    Polymer({
        is: 'fk08-events-element',

        properties: {

        },

        listeners: {

        },

        ready: function () {

        },

        attached: function () {

        },

        // Private functions


        // Observers


        // Public functions

    });
</script>
</dom-module>